.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 480px;
  padding: 0px 15px;
  margin: 0 auto;

  @include for-size(tablet) {
    max-width: 674px;
  }

  @include for-size(desktop) {
    max-width: 720px;
  }
}

.btn {
  background-color: $orange-color;
  color: #fff;
  font-family: 'Acrom', sans-serif;
  font-weight: 800;
  @include flexible;
  align-items: center;
  letter-spacing: 1.11px;
  box-shadow: 0px 5px 5px 0px rgba(196, 87, 15, 0.26);

  @include for-size(tablet) {
    box-shadow: 0px 7px 10px 0px rgba(196, 87, 15, 0.26);
  }

  @include for-size(desktop) {
    box-shadow: 0px 9px 13px 0px rgba(196, 87, 15, 0.26);
  }
}

.section-title {
  font-family: 'Acrom', sans-serif;
  font-weight: 800;
  font-size: rem(18);
  text-transform: uppercase;

  @include for-size(tablet) {
    font-size: rem(27);
  }

  @include for-size(desktop) {
    font-size: rem(30);
  }
}

.section-description {
  font-family: 'Acrom', sans-serif;
  font-weight: 500;
  position: relative;
  font-size: rem(14);

  &::before {
    @include pseudo(21px, 3px);
    position: absolute;
    left: -37px;
    top: 6px;
    background-color: $black-color;
  }

  @include for-size(tablet) {
    font-size: rem(9);
  }

  @include for-size(desktop) {
    font-size: rem(10);
  }
}

.section-comment {
  font-family: 'Acrom', sans-serif;
  font-weight: 500;
  font-size: rem(14);
  color: $orange-color;
  position: relative;

  &::before {
    @include pseudo(28px, 3px, '');
    position: absolute;
    left: -37px;
    top: 16px;
    background-color: $black-color;
    font-family: 'Acrom', sans-serif;
    transform: rotateZ(-55deg);
    font-weight: 800;
    font-size: rem(30);

    @include for-size(tablet) {
      width: 18px;
      top: 10px;
      left: -30px;
    }
  }

  @include for-size(tablet) {
    font-size: rem(9);
  }

  @include for-size(desktop) {
    font-size: rem(10);
  }
}

.black-bg {
  color: $white-color;
  background-color: $black-color;
}

.blue-bg {
  background-color: $blue-color;
}
