$light-font: 'Acrom-Light', sans-serif;
$regular-font: 'Acrom-Regular', sans-serif;
$medium-font: 'Acrom-Medium', sans-serif;
$bold-font: 'Acrom-Bold', sans-serif;
$extrabold-font: 'Acrom-ExtraBold', sans-serif;
$orange-color: #ff6b08;
