.header {
  padding-top: 15px;
  padding-bottom: 40px;
  background-image: url(../images/1/bg.png);
  @include background-settings;
  color: #fff;

  @include for-size(tablet) {
    background-image: url(../images/1/bg-768.png);
    padding-top: 20px;
    padding-bottom: 88px;
  }

  @include for-size(desktop) {
    background-image: url(../images/1/bg-1200.png);
    padding-top: 24px;
    padding-bottom: 106px;
  }
}

.navigation .container {
  @include flexible(space-between);

  @include for-size(desktop) {
    max-width: 1200px;
    padding: 0 38px;
  }
}

.logo-wrapper {
  position: relative;
}

.pseuso-numbers {
  display: none;

  &__one {
    font-size: 16px;
    transform: rotate(270deg);
    display: inline-block;
  }
  &__two {
    font-size: 9px;
  }

  @include for-size(tablet) {
    display: block;
    font-weight: 300;
    position: absolute;
    bottom: -386px;
    left: 0;
  }

  @include for-size(desktop) {
    bottom: -444px;
  }
}

.menu {
  position: relative;

  &__burger {
    width: rem(28);
    height: rem(17);
    fill: #fff;

    @include for-size(tablet) {
      width: rem(13);
      height: rem(9);
    }
  }
}

.menu .social-list {
  display: none;
  &__item-link--icon {
    width: 9px;
    height: 9px;
    fill: $white-color;
  }

  @include for-size(tablet) {
    @include flexible(space-between);
    width: 36px;
    position: absolute;
    right: 0;
    bottom: -280px;
  }

  @include for-size(desktop) {
    bottom: -444px;
  }
}

.header-content {
  padding: 20px 50px 0 58px;

  @include for-size(tablet) {
    padding: 45px 0 0 0;
    @include flexible(space-between);
  }
}

.title {
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  font-size: rem(30);
  margin-top: 0px;
  margin-bottom: 42px;

  &--tablet {
    display: none;
    position: relative;
    line-height: 56.08px;

    &::before {
      @include pseudo(46px, 8px);
      position: absolute;
      background-color: $white-color;
      top: 47%;
      left: 50%;
    }

    &::after {
      @include pseudo(57px, 8px);
      position: absolute;
      background-color: $white-color;
      top: 80%;
      left: 2%;
    }
  }
  &-span {
    display: block;
    padding-left: 80px;
  }

  @include for-size(tablet) {
    font-size: rem(45);
    text-align: start;

    &--mobile {
      display: none;
    }
    &--tablet {
      display: block;
    }
  }

  @include for-size(desktop) {
    line-height: 62.5px;
    font-size: rem(50);
  }
}

.description {
  font-weight: 700;
  font-size: rem(13);
  line-height: rem(19.5);
  letter-spacing: -0.86px;
  text-transform: uppercase;
  position: relative;

  &::before {
    @include pseudo(9px, 9px, '<');
    position: absolute;
    top: 0;
    left: -38px;
    color: $blue-color;
    font-family: 'Acrom', sans-serif;
    font-weight: 800;
    font-size: rem(23);
  }

  &::after {
    @include pseudo(18px, 16px, '/>');
    position: absolute;
    bottom: 0;
    right: -38px;
    color: $blue-color;
    font-family: 'Acrom', sans-serif;
    font-weight: 800;
    font-size: rem(23);
  }

  @include for-size(tablet) {
    font-size: rem(8);
    margin-bottom: 25px;
    line-height: 13.46px;

    &::before {
      font-size: rem(13);
      left: -15px;
    }
    &::after {
      font-size: rem(13);
    }
  }
}

.title-wrapper {
  margin-bottom: 140px;

  @include for-size(tablet) {
    flex: 0 0 58.333333%;
    margin-bottom: 0;
  }
}

.description-wrapper {
  @include for-size(tablet) {
    padding-left: 55px;
    padding-right: 118px;
  }
}

.coment-wrapper {
  @include for-size(tablet) {
    flex: 0 0 25%;
  }
}

.coment__title {
  font-weight: 800;
  font-size: rem(14);
  text-transform: uppercase;
  line-height: 19.5px;
  letter-spacing: 0;
  margin-bottom: 15px;
  @include for-size(tablet) {
    font-size: rem(11);
    line-height: 16.82px;
  }
}

.coment__description {
  font-weight: 400;
  font-size: rem(14);
  color: $grey-color;
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 38px;

  @include for-size(tablet) {
    font-size: rem(10);
    line-height: 13.46px;
  }
}

.header-btn {
  width: 220px;
  height: 54px;
  @include flexible(center);
  align-items: center;
  text-transform: uppercase;
  font-size: rem(12);
  margin: 0 auto;

  &--tablet {
    display: none;
  }

  @include for-size(tablet) {
    width: 111px;
    height: 29px;
    font-size: rem(7);
    letter-spacing: 1.25px;

    &--tablet {
      display: flex;
      margin: 0;
    }

    &--mobile {
      display: none;
    }
  }
}

@keyframes slide {
  from {
    width: 0;
  }
  50% {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.burger {
  display: block;
  position: absolute;
  width: rem(30);
  height: rem(3);
  top: rem(13);
  right: 0;
  background-color: $white-color;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: rem(10);
    right: 0;
    width: rem(30);
    height: rem(3);
    background-color: $white-color;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: rem(-10);
    right: 0;
    width: rem(30);
    height: rem(3);
    background-color: $white-color;
  }
}

.burger__container {
  cursor: pointer;
  position: relative;
  margin: 0 auto;
  width: rem(30);
  height: rem(30);
  background-color: rgba(255, 255, 255, 0);

  &:hover .burger {
    animation: slide 0.5s infinite ease-out;
  }

  &:hover .burger::before {
    animation: slide 0.6s infinite ease-out;
  }

  &:hover .burger::after {
    animation: slide 0.7s infinite ease-out;
  }
}
