.present {
  padding-top: 23px;
  padding-bottom: 83px;
  color: $black-color;
  box-shadow: 0 0 0 2px rgba(251, 251, 251, 0.1);

  &__img-wrap {
    margin-bottom: 23px;
    @media screen and (min-width: 768px) {
      @include flexible(space-between);
      margin-bottom: 55px;
    }
  }

  &__title-wrap {
    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 768px) {
      max-width: 50%;
      padding-top: 22px;
      padding-right: 65px;
    }

    .section-description {
      max-width: 177px;
      padding-left: 45px;

      @media screen and (min-width: 900px) {
        font-size: rem(10);
        max-width: 198px;
      }

      &::before {
        left: 0;
      }
    }
  }

  &__title-main {
    margin-bottom: 25px;
    @media screen and (min-width: 768px) {
      font-size: rem(27);
    }

    @media screen and (min-width: 900px) {
      font-size: rem(30);
    }
  }

  &__content-wrap {
    @media screen and (max-width: 767px) {
      max-width: 295px;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: 768px) {
      @include flexible(space-between);
    }
  }

  &__title {
    font-size: rem(10.5);
    text-transform: uppercase;
    line-height: 1.57em;
    font-weight: 800;
    margin-bottom: 35px;
    @media screen and (min-width: 768px) {
      width: 21%;
      font-size: rem(8.97);
      line-height: 1.87em;
    }

    @media screen and (min-width: 900px) {
      font-size: rem(10);
    }
  }

  &__list {
    font-size: rem(12.92);
    line-height: 1.57em;
    margin-bottom: 50px;
    @media screen and (min-width: 768px) {
      width: 74%;
      @include flexible(space-between);
      flex-wrap: wrap;
    }
  }

  &__item {
    @media screen and (max-width: 767px) {
      margin-bottom: 23.6px;
    }
    padding-left: 30px;
    position: relative;

    @media screen and (min-width: 768px) {
      width: 146px;
      padding-left: 22px;
    }

    @media screen and (min-width: 900px) {
      width: 165px;
    }
  }

  &__item:not(:nth-last-child(-n + 3)) {
    @media screen and (min-width: 768px) {
      margin-bottom: 25px;
    }
  }

  &__list-icon {
    font-weight: 700;
    text-align: center;
    line-height: 1em;
    color: $white-color;
    display: block;
    width: 47.63px;
    background-color: $orange-color;
    position: absolute;
    top: 20px;
    left: -19px;
    transform: rotate(-90deg);
    @media screen and (min-width: 768px) {
      font-size: rem(5.61);
      width: 22px;
      top: 10px;
      left: -5px;
    }
  }

  &__list-title {
    font-weight: 700;
    margin-bottom: 11.6px;
    @media screen and (min-width: 768px) {
      font-size: rem(8.97);
      line-height: 1.31em;
    }

    @media screen and (min-width: 900px) {
      font-size: rem(10);
    }
  }

  &__list-text {
    color: $text-grey-color;
    font-weight: 400;
    @media screen and (min-width: 768px) {
      font-size: rem(7.85);
      line-height: 1.5em;
    }

    @media screen and (min-width: 900px) {
      font-size: rem(8.75);
    }
  }

  &__footer {
    @media screen and (min-width: 768px) {
      @include flexible(flex-end);
      align-items: center;
      flex-direction: row-reverse;
    }
  }

  &__coment {
    padding-left: 35px;

    @media screen and (max-width: 767px) {
      font-size: rem(13.5);
      max-width: 380px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 37px;
    }

    @media screen and (min-width: 768px) {
      max-width: 192px;
      font-size: rem(8.97);
      line-height: 1.5em;
    }

    &:before {
      top: 12px;
      left: 0;
      font-size: rem(19.92);
    }
  }

  &__btn {
    font-size: rem(10.87);
    text-transform: uppercase;
    line-height: 1em;
    width: 216px;
    height: 49.5px;

    @media screen and (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: 768px) {
      font-size: rem(6.17);
      margin-right: 35px;
      width: 120px;
      height: 28px;
    }
  }
}
