.section-eleven {
  padding-bottom: rem(74);
}

.section-eleven-bigWrp {
  @include for-size(tablet) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr rem(60);
    align-items: start;
    margin-bottom: rem(66);
  }
}

.section-eleven-wrp {
  @include for-size(tablet) {
    grid-row: span 2;
  }
}

.section-eleven-title {
  max-width: rem(380);
  margin: 0 auto;
  margin-bottom: rem(22);

  @include for-size(tablet) {
    margin-bottom: rem(22);
  }
}

.section-eleven-wrp__box {
  @include for-size(tablet) {
    display: flex;
    justify-content: center;
  }

  @include for-size(desktop) {
    margin-bottom: rem(16);
  }

  &-title {
    max-width: rem(318);
    margin: 0 auto;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    font-weight: 800;
    margin-bottom: rem(16);
    text-transform: uppercase;

    @include for-size(tablet) {
      max-width: rem(96);
      font-size: 0.5625rem;
      line-height: 0.91rem;
      margin: 0 rem(16) 0 0;
    }

    @include for-size(desktop) {
      max-width: rem(104);
      font-size: rem(10);
      line-height: rem(16.25);
    }
  }

  &-text {
    font-size: 0.875rem;
    line-height: 1.1875rem;
    max-width: rem(318);
    margin: 0 auto;
    margin-bottom: rem(38);
    @include for-size(tablet) {
      max-width: rem(118);
      font-size: 0.5rem;
      line-height: 0.73rem;
      margin-bottom: rem(26);
      margin: 0 0 rem(16) 0;
    }

    @include for-size(desktop) {
      max-width: rem(128);
      font-size: rem(8.75);
      line-height: rem(13);
    }
  }
}

.banner {
  margin: 0 auto;
  margin-bottom: rem(62);

  @include for-size(tablet) {
    margin-bottom: 0;
  }
}

.section-eleven-description {
  font-size: 0.875rem;
  line-height: 1.1875rem;
  max-width: rem(292);
  margin: 0 auto;
  margin-bottom: rem(37);
  font-weight: 500;

  @include for-size(tablet) {
    max-width: rem(154);
    margin: 0 auto;
    font-size: rem(9);
    line-height: rem(13.46);
  }

  @include for-size(desktop) {
    max-width: rem(182);
    margin: 0 auto;
    font-size: rem(10);
    line-height: rem(15);
  }
}

.section-eleven-content-wrp {
  width: rem(300);
  margin: 0 auto;

  @include for-size(tablet) {
    display: grid;
    align-items: start;
    grid-template-columns: rem(172) 1fr;
    grid-template-rows: rem(42) 1fr;
    width: auto;
    margin: 0;
  }
}

.it-blackBg-text {
  margin-bottom: rem(34);
  display: inline-block;

  @include for-size(tablet) {
    grid-column: 1/1;
    grid-row: 1/1;
    font-size: 0.56rem;
    line-height: 0.73rem;
    margin: 0;
  }

  @include for-size(desktop) {
    font-size: rem(10);
    line-height: rem(13);
  }
}

.it-blackBg-second-text {
  margin-bottom: rem(34);
  display: inline-block;

  @include for-size(tablet) {
    grid-column: 2/2;
    grid-row: 1/1;
    font-size: 0.56rem;
    line-height: 0.73rem;
    margin: 0;
  }

  @include for-size(desktop) {
    font-size: rem(10);
    line-height: rem(13);
  }
}

.goit-prize {
  @include for-size(tablet) {
    grid-column: 1/1;
    grid-row: 2/2;
    margin-right: rem(36);
  }

  &__title {
    position: relative;
    max-width: rem(174);
    font-size: 0.8rem;
    line-height: 1.1875rem;
    margin-bottom: rem(14);
    font-weight: 800;
    text-transform: uppercase;
    z-index: 1;

    @include for-size(tablet) {
      font-size: 0.5625rem;
      line-height: 0.84rem;
      width: auto;
    }

    @include for-size(desktop) {
      font-size: rem(10);
      line-height: rem(15);
    }
  }

  &__title::after {
    display: inline-block;
    content: '';
    background-image: url('../images/11/un.png');
    width: rem(80);
    height: rem(68);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: rem(-122);
    top: rem(-44);
    z-index: -1;

    @include for-size(tablet) {
      background-image: url('../images/11/un-t.png');
      width: rem(58);
      height: rem(50);
      right: 0px;
      top: rem(-36);
    }

    @include for-size(desktop) {
      background-image: url('../images/11/un-d.png');
      width: rem(64);
      height: rem(55);
      right: rem(-17);
    }
  }

  &__description {
    font-size: 0.8rem;
    line-height: 1.1875rem;
    margin-bottom: rem(40);

    @include for-size(tablet) {
      margin-bottom: 0;
      font-size: 0.49rem;
      line-height: 0.73rem;
    }

    @include for-size(desktop) {
      font-size: rem(8.75);
      line-height: rem(13);
    }
  }
}

.prize-list {
  @include for-size(tablet) {
    grid-column: 2/2;
    grid-row: 2/2;

    display: flex;
  }

  &__item {
    position: relative;

    @include for-size(tablet) {
      max-width: rem(86);
    }

    &::before {
      font-size: 2.41rem;
      font-weight: bold;
      color: #f2f2f2;
      position: absolute;
      transform: rotate(270deg);
      right: rem(-64);
      top: 0px;
      z-index: -1;

      @include for-size(tablet) {
        font-size: 1.75rem;
      }
    }

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      background-repeat: no-repeat;
      top: 0;
    }

    &:nth-child(1)::before {
      content: '01_';
    }

    &:nth-child(1)::after {
      background-image: url('../images/11/prize1.png');
      width: rem(41);
      height: rem(136);
      right: rem(-44);

      @include for-size(tablet) {
        background-image: url('../images/11/prize1-t.png');
        width: rem(29);
        height: rem(98);
        right: rem(-44);
      }

      @include for-size(desktop) {
        background-image: url('../images/11/prize1-d.png');
        width: rem(32);
        height: rem(109);
      }
    }

    &:nth-child(2)::before {
      content: '02_';

      @include for-size(tablet) {
        right: rem(-73);
      }
    }

    &:nth-child(2)::after {
      background-image: url('../images/11/prize2.png');
      width: rem(54);
      height: rem(109);
      right: rem(-52);

      @include for-size(tablet) {
        background-image: url('../images/11/prize2-t.png');
        width: rem(40);
        height: rem(79);
        right: rem(-44);
      }

      @include for-size(desktop) {
        background-image: url('../images/11/prize2-d.png');
        width: rem(45);
        height: rem(88);
        right: rem(-46);
      }
    }

    &:nth-child(3)::before {
      content: '03_';

      @include for-size(tablet) {
        right: rem(-73);
      }
    }

    &:nth-child(3)::after {
      background-image: url('../images/11/prize2.png');
      width: rem(54);
      height: rem(109);
      right: rem(-52);

      @include for-size(tablet) {
        background-image: url('../images/11/prize2-t.png');
        width: rem(40);
        height: rem(79);
        right: rem(-44);
      }

      @include for-size(desktop) {
        background-image: url('../images/11/prize2-d.png');
        width: rem(45);
        height: rem(88);
        right: rem(-46);
      }
    }

    &:not(:last-child) {
      margin-bottom: rem(40);

      @include for-size(tablet) {
        margin-bottom: 0;
        margin-right: rem(80);
      }
    }

    &-title {
      margin-bottom: rem(10);
      text-transform: uppercase;

      @include for-size(tablet) {
        font-size: 0.5625rem;
        line-height: 0.84rem;
        width: auto;
      }

      @include for-size(desktop) {
        font-size: rem(10);
        line-height: rem(15);
      }

      &_year {
        display: block;
      }
    }

    &-subtitle {
      margin-bottom: rem(6);
      font-size: 0.49rem;
      line-height: 0.73rem;
    }

    &-text {
      @include for-size(tablet) {
        font-size: 0.49rem;
        line-height: 0.73rem;
      }

      @include for-size(desktop) {
        font-size: rem(8.75);
        line-height: rem(13);
      }
    }
  }
}
