.expert {
  padding-top: rem(20);
  padding-bottom: rem(40);
  @include flexible(center);
  flex-direction: column;

  @include for-size(tablet) {
    padding-top: rem(40);
    position: relative;
    align-items: flex-end;
  }
}

.expert__title {
  @include for-size(tablet) {
    width: 48%;
    padding-left: 50px;
  }
  @include for-size(desktop) {
    // width: 286px;
  }
  & > .section-title {
    text-transform: uppercase;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: rem(18);

    @include for-size(tablet) {
      width: 260px;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: rem(10);
      font-size: 25px;
      text-align: left;
      line-height: rem(36);
    }
    @include for-size(desktop) {
      width: 286px;
    }
  }
  & > .section-description {
    padding: 0 80px 0 120px;
    margin-bottom: rem(40);
    font-size: rem(13.5);
    line-height: 19.5px;
    @include for-size(tablet) {
      padding: 0 0 0 120px;
    }
    &::before {
      left: rem(85);
      width: rem(15);
      @include for-size(tablet) {
        width: rem(29);
        height: rem(4);
        left: 0;
      }
    }
    @include for-size(tablet) {
      margin-left: 0;
      padding-left: rem(50);
      width: 250px;
      font-size: rem(9);
      line-height: rem(13);
    }
  }
  & > .bullet-list .bullet-list__item:nth-child(-n + 4) {
    margin-bottom: rem(26);
    @include for-size(tablet) {
      margin-bottom: rem(16);
    }
    @include for-size(desktop) {
      margin-bottom: rem(24);
    }
  }
}

.expert__member {
  @include flexible(center);
  margin-bottom: 36px;
  @include for-size(tablet) {
    width: 48%;
    order: 1;
    justify-content: start;
    position: absolute;
    left: 0;
    margin: 0;
  }
  @include for-size(desktop) {
    // width: 350px;
  }
}

.expert__description {
  @include for-size(tablet) {
    display: block;
    width: 48%;
    padding-left: 50px;
  }

  & > .bullet-list {
    padding: 0;
    margin: auto;
    width: 292px;
    padding-left: rem(22);
    @include for-size(tablet) {
      padding-left: rem(30);
      padding-right: 0;
      margin-left: 0;
      width: 230px;
    }
    @include for-size(desktop) {
      width: 235px;
    }
  }
  & > .bullet-list .bullet-list__item {
    position: relative;
    &::before {
      @include pseudo(rem(7), rem(7));
      position: absolute;
      left: rem(-20);
      top: rem(5);
      background-color: $black-color;
      @include for-size(tablet) {
        @include pseudo(rem(8), rem(8));
        top: rem(1);
        left: rem(-30);
      }
    }
  }
  & > .bullet-list .bullet-list__title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: rem(13);
    margin-bottom: rem(6);
    @include for-size(tablet) {
      font-size: rem(9);
      margin-bottom: rem(4);
    }
    @include for-size(tablet) {
      font-size: rem(9);
      margin-bottom: rem(8);
    }
  }
  & > .bullet-list .bullet-list__description {
    font-size: rem(13);
    @include for-size(tablet) {
      font-size: rem(8);
      line-height: rem(11);
    }
  }
  & > .bullet-list .bullet-list__item:nth-child(-n + 3) {
    margin-bottom: rem(26);
    @include for-size(tablet) {
      margin-bottom: rem(16);
    }
    @include for-size(desktop) {
      margin-bottom: rem(24);
    }
  }
}

.dash {
  @include for-size(tablet) {
    display: none;
  }
}
