.present {
  @include for-size(mobile) {
    padding-bottom: 30px;
  }

  @include for-size(tablet) {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  &__img-bg-wrap {
    width: rem(330);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    position: relative;
  }

  &__substrate-text {
    text-transform: uppercase;
    font-weight: 800;
    writing-mode: vertical-rl;
    font-size: rem(226.25);
    opacity: 0.06;
    position: absolute;
    letter-spacing: -0.625rem;
    z-index: -1;
    top: rem(-15);
    right: rem(15);

    @include for-size(tablet) {
      right: rem(-15);
      top: rem(-20);
    }
  }

  &__header {
    width: rem(370);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;

    .present__title-main {
      width: rem(295);
      line-height: 1.5em;

      @include for-size(mobile) {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }

    .section-description {
      width: rem(295);
      margin-left: auto;
      margin-right: auto;
      padding-left: 37px;

      &::before {
        left: 0;
      }
    }
  }

  &__content-wrap {
    @include for-size(mobile) {
      max-width: rem(365);
    }
  }

  &__list {
    @include for-size(mobile) {
      margin-bottom: 0;
      width: rem(300);
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.present__img-wrap {
  @include for-size(tablet) {
    margin-bottom: 20px;
  }
}

.present__coment {
  margin-bottom: 20px;
}

.present__coment span {
  @include for-size(tablet) {
    display: block;
  }
}

.present__header .section-description {
  @include for-size(tablet) {
    margin-left: 0;
    margin-right: 0;
    width: rem(215);
  }
}

.present__list {
  @include for-size(tablet) {
    margin-bottom: 0px;
  }
}

.new-title {
  font-size: rem(13.5);
}
