.fifteenth-container {
  @include for-size(tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.fifteenth-wrapper {
  position: relative;
}

.fifteenth {
  padding-top: rem(18);
  padding-bottom: rem(48);

  @include for-size(tablet) {
    padding-top: rem(32);
    padding-bottom: rem(40);
  }

  @include for-size(desktop) {
    padding-top: rem(62);
    padding-bottom: rem(64);
  }

  &-title {
    margin: 0 auto;
    text-align: left;
    max-width: rem(210);

    @include for-size(mobile) {
      margin-bottom: rem(44);
    }
    @include for-size(tablet) {
      margin-bottom: rem(50);
      max-width: rem(320);
    }
    @include for-size(desktop) {
      margin-bottom: rem(54);
      max-width: rem(350);
    }
  }

  &__section-comment {
    margin: 0 auto;
    max-width: rem(200);

    &::before {
      top: rem(6);
    }

    @include for-size(mobile) {
      margin-bottom: rem(36);
    }

    @include for-size(tablet) {
      margin-left: 0;
    }
  }

  &__link {
    display: block;
    margin: 0 auto;
    width: rem(216);
    height: rem(46);
    color: $white-color;
    background-color: $orange-color;
    text-align: center;
    padding-top: rem(17);
    font-size: rem(10.81);
    font-weight: 900;
    text-transform: uppercase;
    box-shadow: 0px 5px 5px 0px rgba(196, 87, 15, 0.26);

    @include for-size(tablet) {
      padding-top: rem(11);
      width: rem(130);
      height: rem(28);
      font-size: rem(6.73);
    }

    @include for-size(desktop) {
      width: rem(148);
      height: rem(32);
      padding-top: rem(11);
      font-size: rem(10);
    }
  }

  &__section-comment {
    &::before {
      @include for-size(tablet) {
        top: rem(12);
      }
    }

    @include for-size(tablet) {
      font-size: rem(8.97);
      line-height: rem(13.46);
      margin-bottom: rem(14);
      max-width: rem(80);
    }

    @include for-size(desktop) {
      font-size: rem(10);
      line-height: rem(15);
    }
  }

  &__bottom-wrapper {
    @include for-size(tablet) {
      position: absolute;
      bottom: rem(15);
      right: 0;
    }
  }

  &__img {
    display: none;

    @include for-size(tablet) {
      display: block;
    }
  }
}

.ordered {
  &__list-fifteenth {
    @include for-size(mobile) {
      margin-bottom: rem(44);
    }
  }
  &__item-fifteenth {
    @include for-size(tablet) {
      &:not(:last-child) {
        margin-bottom: rem(28);
      }
    }
  }
}
