.container-center {
  align-items: center;

  @include for-size(tablet) {
    @include flexible(space-between);
    align-items: center;
    flex-wrap: wrap;
    max-width: 624px;
  }
  @include for-size(desktop) {
    max-width: 680px;
  }
}
.container-horizontal {
  @include flexible();
  align-items: center;
  justify-content: space-between;
}
.price {
  background-color: rgb(5, 33, 57);
  box-shadow: 0px 14px 27px 0px rgba(0, 0, 0, 0.15);
  line-height: 1.5;
  max-width: 370px;
  padding: 76px 0 69px;
  margin: 0 auto;

  @include for-size(tablet) {
    width: 258px;
    padding: 52px 0 49px;
    margin: 0;
  }
  @include for-size(desktop) {
    width: 286px;
    padding: 58px 0 55px;
  }
  &__container {
    width: 213px;
    margin: 0 auto;

    @include for-size(tablet) {
      width: 146px;
    }
    @include for-size(desktop) {
      width: 164px;
    }
    &-horizontal {
      margin-bottom: 15px;

      @include for-size(tablet) {
        margin-bottom: 10px;
      }
      @include for-size(desktop) {
        margin-bottom: 12px;
      }
    }
  }

  &__description {
    font-size: rem(13);
    color: $white-color;
    max-width: 90px;

    @include for-size(tablet) {
      font-size: rem(9);
      max-width: 60px;
    }
    @include for-size(desktop) {
      font-size: rem(10);
      max-width: 70px;
    }

    &-mark {
      background-color: $blue-color;
      line-height: 1.5;

      @include for-size(tablet) {
        font-size: rem(9);
        font-weight: 300;
        line-height: 1.5;
      }
      @include for-size(desktop) {
        font-size: rem(10);
      }
    }
    &-actuale {
      font-size: rem(13);
      font-weight: 300;
      line-height: 1.15;
      max-width: 70px;
    }
  }
  &__number {
    position: relative;
    font-size: rem(16);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.8px;
    color: $white-color;

    @include for-size(tablet) {
      font-size: rem(12);
      font-weight: 800;
    }

    &::before {
      @include pseudo(36px, 1px);
      position: absolute;
      left: -43px;
      top: 12px;
      background-color: $text-grey-color;

      @include for-size(tablet) {
        @include pseudo(26px, 2px);
        left: -30px;
        top: 9px;
      }
      @include for-size(desktop) {
        @include pseudo(28px, 2px);
        left: -35px;
      }
    }
    &_actuale {
      font-size: rem(40);
      font-weight: 900;
      color: $white-color;

      @include for-size(tablet) {
        font-size: rem(27);
      }
      @include for-size(desktop) {
        font-size: rem(30);
      }

      &-span {
        font-size: rem(14);
        text-transform: uppercase;

        @include for-size(tablet) {
          font-size: rem(9);
        }
        @include for-size(desktop) {
          font-size: rem(9.5);
        }
      }
    }
  }
}
.importantly {
  border-top: 1px solid rgb(249, 249, 249);
  padding-top: 15px;
  padding-bottom: 65px;

  @include for-size(tablet) {
    border-top: none;
    padding-top: 35px;
  }

  &__description {
    font-weight: bold;
    font-size: rem(14.5);
    line-height: 1.3;
    margin-bottom: 11px;

    @include for-size(tablet) {
      font-size: rem(9);
      line-height: 1.35;
      margin-bottom: 6px;
    }
    @include for-size(desktop) {
      font-size: rem(10);
    }
    &-wrapper {
      padding-top: 37px;
      padding-bottom: 26px;
      @include for-size(tablet) {
        width: 210px;
        padding: 28px 0 19px 19px;
      }
      @include for-size(desktop) {
        width: 225px;
        padding: 33px 0 21px 22px;
      }
    }

    &-second {
      font-weight: 400;
      font-size: rem(13);
      line-height: 1.4;
      letter-spacing: -0.2px;
      max-width: 280px;
      margin-bottom: 20px;

      @include for-size(tablet) {
        font-size: rem(8);
        width: 170px;
        line-height: 1.45;
        letter-spacing: -0.1px;
        margin-bottom: 11px;
      }
      @include for-size(desktop) {
        font-size: rem(9);
        margin-bottom: 13px;
      }
    }
  }
  &__section-title {
    text-align: center;

    &::before,
    &::after {
      font-weight: 700;
    }

    &::before {
      content: '[ ';
    }
    &::after {
      content: ' ]';
    }

    &_mobile {
      margin-bottom: rem(20);

      @include for-size(tablet) {
        display: none;
      }
    }
    &_tablet {
      display: none;
      letter-spacing: -0.5px;

      @include for-size(tablet) {
        display: block;
        text-align: left;
        font-size: rem(28);
      }
      @include for-size(desktop) {
        font-size: rem(31);
      }
    }
  }
  &__wrapper {
    max-width: 300px;
    margin: 0 auto;

    @include for-size(tablet) {
      margin: 0;
      max-width: 262px;
    }
  }
  &__price {
    @include for-size(tablet) {
      margin: 0;
    }
  }
  &__section-comment {
    font-size: rem(15);
    line-height: 1.5;
    letter-spacing: -0.4px;

    @include for-size(tablet) {
      font-size: rem(9.5);
      letter-spacing: -0.3px;
      width: 150px;
    }
    @include for-size(desktop) {
      font-size: rem(10.5);
      width: 170px;
    }
  }
  &__btn {
    height: 40px;
    font-size: rem(9.5);
    font-weight: 800;
    letter-spacing: 1.2px;
    padding: 0 42px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;

    @include for-size(tablet) {
      font-size: rem(6);
      height: 27px;
      padding: 0 29px;
    }

    @include for-size(desktop) {
      font-size: rem(7.5);
      letter-spacing: 0.8px;
      height: 30px;
      padding: 0 31px;
    }
  }
}
