.registration {
  padding-top: rem(72);

  @include for-size(tablet) {
    padding-top: rem(100);
    padding-bottom: rem(98);
  }

  @include for-size(desktop) {
    padding-top: rem(66);
    padding-bottom: rem(126);
  }

  &__content {
    @include for-size(tablet) {
      @include flexible(space-between);
    }
  }

  &__title-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem(42);
    max-width: rem(210);
    position: relative;

    @include for-size(tablet) {
      margin: rem(0);
      max-width: rem(282);
    }

    @include for-size(desktop) {
      max-width: rem(314);
    }

    &::before {
      @include pseudo(auto, auto, 'go');
      position: absolute;
      transform: rotate(90deg);
      left: rem(-146);
      top: rem(14);
      font-weight: 700;
      font-size: rem(100);
      color: $pseudo-spaces-color;
      text-transform: uppercase;

      @include for-size(tablet) {
        left: rem(134);
        top: rem(16);
        font-size: rem(146);
        z-index: -1;
      }

      @include for-size(desktop) {
        left: rem(150);
        font-size: rem(162);
      }
    }
  }

  &__section-title {
    margin-bottom: rem(22);
    line-height: rem(24);

    @include for-size(tablet) {
      line-height: rem(34);
    }

    @include for-size(desktop) {
      line-height: rem(38);
      margin-bottom: rem(28);
    }
  }

  &__section-title--br {
    display: block;
  }

  &__section-description {
    margin-bottom: rem(30);
    padding-left: rem(14);
    line-height: rem(20);

    @include for-size(tablet) {
      padding-left: rem(46);
      padding-right: rem(56);
      line-height: rem(14);
    }

    @include for-size(desktop) {
      padding-left: rem(48);
      padding-right: rem(58);
      line-height: rem(15);
    }

    &::before {
      width: rem(14);
      height: rem(4);
      left: rem(-14);

      @include for-size(tablet) {
        width: rem(29);
        height: rem(5);
      }

      @include for-size(desktop) {
        width: rem(32);
      }
    }
  }

  &__btn {
    font-size: rem(12);
    text-transform: uppercase;
    line-height: 1.5;
    width: rem(210);
    height: rem(44);
    transition: 0.3s linear;

    &:hover {
      background-color: $accent-blue-color;
    }

    @include for-size(tablet) {
      width: rem(147);
      height: rem(29);
      font-size: rem(7);
      transform: translateX(46px);
    }

    @include for-size(desktop) {
      width: rem(164);
      height: rem(34);
      font-size: rem(8);
    }
  }

  &__coment-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: rem(300);

    @include for-size(tablet) {
      margin-left: rem(0);
      margin-right: rem(0);
      max-width: rem(246);
      padding-left: rem(22);
    }

    @include for-size(desktop) {
      max-width: rem(276);
    }
  }

  &__coment-description {
    margin-bottom: rem(28);
    font-weight: 700;
    font-size: rem(14);
    line-height: rem(20);
    color: $black-color;
    position: relative;

    @include for-size(tablet) {
      margin-bottom: rem(14);
      font-size: rem(9);
      line-height: rem(14);
    }

    @include for-size(desktop) {
      margin-bottom: rem(16);
      font-size: rem(10);
      line-height: rem(15);
    }

    &::before {
      @include pseudo(auto, auto, 'p. s. :');
      display: block;
      margin-bottom: rem(13);
      font-weight: 800;
      font-size: rem(20);
      line-height: rem(24);
      color: $black-color;
      text-transform: uppercase;

      @include for-size(tablet) {
        font-size: rem(16);
        line-height: rem(20);
        position: absolute;
        top: rem(0);
        left: rem(-60);
      }

      @include for-size(desktop) {
        font-size: rem(19);
        line-height: rem(22);
        left: rem(-74);
      }
    }
  }

  &__coment-text {
    margin-bottom: rem(28);
    font-weight: 400;
    font-size: rem(14);
    line-height: rem(20);
    color: $text-grey-color;
    letter-spacing: rem(-0.632);

    @include for-size(tablet) {
      margin-bottom: rem(26);
      padding-right: rem(15);
      font-size: rem(8);
      line-height: rem(12);
      letter-spacing: rem(0);
    }

    @include for-size(desktop) {
      margin-bottom: rem(30);
      font-size: rem(9);
      line-height: rem(13);
    }
  }

  &__coment-text span {
    font-weight: 700;
    font-size: rem(14);
    line-height: rem(20);
    color: $black-color;
    letter-spacing: rem(-0.715);

    @include for-size(tablet) {
      font-size: rem(9);
      line-height: rem(12);
      letter-spacing: rem(0);
    }

    @include for-size(desktop) {
      font-size: rem(10);
      line-height: rem(13);
    }
  }

  &__link {
    display: block;
    margin-left: auto;
    width: max-content;
    font-weight: 500;
    font-size: rem(14);
    line-height: rem(20);
    color: $orange-color;

    @include for-size(tablet) {
      font-size: rem(9);
      line-height: rem(14);
    }

    @include for-size(desktop) {
      font-size: rem(10);
      line-height: rem(15);
    }
  }
}
