.motivation {
  padding-top: 54px;
  padding-bottom: 40px;

  .title-wrp {
    padding-left: 80px;

    @include for-size(tablet) {
      flex: 0 0 60%;
      padding-left: 73px;
    }
  }

  &__description {
    font-size: rem(13);
    line-height: 19.5px;
    color: $black-color;
    font-weight: 500;
    margin-bottom: 23px;
    letter-spacing: 0.6px;

    &--mobile {
      @include for-size(tablet) {
        display: none;
      }
    }

    &--tablet {
      display: none;
      @include for-size(tablet) {
        display: block;
        font-size: rem(9);
        line-height: 13.46px;
        max-width: 228px;
        margin-bottom: 36px;
      }

      @include for-size(desktop) {
        font-size: rem(10);
        line-height: 15px;
      }
    }
  }

  &-title-wrp {
    @include for-size(tablet) {
      @include flexible;
    }
  }

  &-img-wrp {
    margin-bottom: 45px;
    position: relative;

    &::before {
      content: 'you';
      font-weight: 800;
      font-size: 140px;
      text-transform: uppercase;
      position: absolute;
      color: #000;
      opacity: 5%;
      z-index: -1;
      transform: rotate(90deg);
      top: 208px;
      left: -94px;
      @include for-size(tablet) {
        top: 300px;
      }
    }
  }

  &__list-title {
    font-size: rem(13);
    font-weight: 800;
    line-height: 19.5px;
    text-transform: uppercase;
    margin-bottom: 15px;

    @include for-size(tablet) {
      font-size: rem(17);
    }
  }
  &__list {
    padding-left: 38px;
    padding-right: 20px;
    margin-bottom: 38px;

    &-item {
      margin-bottom: 17px;
      position: relative;

      &::before {
        @include pseudo(8px, 8px);
        position: absolute;
        top: 7px;
        left: -16px;
        background-color: $black-color;
        @include for-size(tablet) {
          visibility: hidden;
        }
      }

      @include for-size(tablet) {
        flex: 0 0 22%;
      }
    }

    &-item-text {
      margin-bottom: 22px;
      font-size: rem(13);
      line-height: 19.5px;
      font-weight: 500;
      letter-spacing: 0.4px;

      &--strong {
        font-weight: 700;
        @include for-size(tablet) {
          font-size: rem(8);
        }
      }
      @include for-size(tablet) {
        font-size: rem(8);
        line-height: 11.78px;
      }
    }

    @include for-size(tablet) {
      @include flexible(space-between);
      flex-wrap: wrap;
      padding: 0;
    }
  }
  @include for-size(tablet) {
    padding-top: 106px;
  }
}

.facts__description {
  text-transform: uppercase;
  font-weight: 800;
  font-size: rem(15);
  margin-bottom: 10px;
  margin-left: 40px;

  @include for-size(tablet) {
    font-size: rem(10);
  }
  @include for-size(desktop) {
    font-size: rem(11);
    line-height: 18.75px;
  }
}

.facts__title {
  font-size: rem(20);
  .black-bg {
    display: block;
    max-width: 260px;
  }
  @include for-size(tablet) {
    font-size: rem(27);
    max-width: 240px;

    .black-bg {
      display: inline;
      line-height: 37px;
    }
  }
}

.let-start {
  @include flexible;

  &-text {
    color: $orange-color;
    font-weight: 500;
    font-size: rem(14);
    line-height: 19.5px;
    max-width: 300px;

    @include for-size(tablet) {
      font-size: rem(10);
      line-height: 13.6px;
      max-width: 180px;
    }

    @include for-size(desktop) {
      justify-content: flex-end;
      max-width: 147px;
    }
  }
}
