.footer-two {
  @include background-settings();
  background-color: rgb(32, 32, 32);
  }

  &__link {
    font-weight: 300;
    font-size: rem(6);
    line-height: rem(16);
    letter-spacing: rem(0.36);
    color: #65666a;

    @include for-size(tablet) {
      font-size: rem(7);
      line-height: rem(23);
      letter-spacing: rem(0.42);
    }

    @include for-size(tablet) {
      font-size: rem(8);
      line-height: rem(26);
      letter-spacing: rem(0.48);
    }
  }
}

.footer-two__conntent {
  border-top: 1px solid rgb(24, 28, 39);
  padding-top: rem(5);
  padding-bottom: rem(5);
  @include flexible(space-between);
  align-items: center;

  @include for-size(tablet) {
    padding-top: rem(10);
    padding-bottom: rem(10);

}
