.section-four {
  padding-top: 3px;
  padding-bottom: rem(40);
  @include for-size(tablet){
    padding-top: rem(56);
  }
  
}

.future {
  @include for-size(tablet){
    @include flexible(space-between);
  }
}

.future__wrapper {
  @include for-size(tablet){
    min-width: 274px;
  }
  @include for-size(desktop){
    min-width: 306px;
  }
  &-title {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: rem(18);
    margin: 0 auto;
    width: fit-content;
    margin-bottom: rem(30);
    @include for-size(tablet){
      font-size: rem(9);
      margin: 0;
    }   
    @include for-size(desktop){
      font-size: rem(10);
    } 
  }
  &-image {
    margin-bottom: rem(38);
  }
  &-description {
    font-size: rem(13.5);
    line-height: rem(19.5);
    margin-bottom: rem(46);
    @include for-size(tablet){
      width: 170px;
      font-size: rem(7.85);
      line-height: rem(12);
      margin-bottom: 0;
    }
    @include for-size(desktop){
      font-size: rem(8.75);
      width: 185px;
    }
  }
  &-item {
    @include for-size(tablet){
      @include flexible(space-between);
    }
  }  
}

.wrapper-title__overlay {
  @include for-size(tablet){
    display: flex;
    flex-direction: column;
  }
}

.wrapper-title__item {
  color: $white-color;
  padding-left: rem(5);
  padding-right: rem(5);
  text-transform: uppercase;
  width: max-content;  
  margin-bottom: rem(8);
  @include for-size(tablet){
    padding-left: rem(2);
    padding-right: rem(2);
    margin-bottom: rem(2);
  }
  
}

.wrapper-title__item-sc {
  text-transform: uppercase;
  padding-right: rem(5);
  @include for-size(tablet){
    padding-left: rem(2);
    padding-right: rem(2);
    width: max-content; 

  }
}

.wrapper-description-bold {
  font-weight: 600;
  @include for-size(tablet){
    display: block;
    margin-bottom: rem(8);
  }
  @include for-size(tablet){
    font-size: rem(10);
  }
}

.future__text{
  @include for-size(tablet){
    width: 314px;
  }
  @include for-size(desktop){
    width: 350px;
  } 
  &>.section-title {
  text-transform: uppercase;
  background-clip: border-box;
  color: $white-color;
  text-align: center;  
  margin-bottom: rem(18);
  @include for-size(tablet){
    width: 265px;
    text-align: left; 
    line-height: rem(36);
  } 
   
  }

  &>.section-description {
    max-width: 290px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: rem(40);
    padding-left: rem(24);
    font-size: rem(13.5);
    &::before {
      left:rem(2);
      width: rem(14);
      @include for-size(tablet){
        width: rem(29);
        height: rem(4);
      } 
    }
    @include for-size(tablet){
      margin-left: 0;
      padding-left: rem(44);
      max-width: 200px;
      font-size: rem(9);
      line-height: rem(13);
    } 
    @include for-size(desktop){
      // margin-left: rem(70);
    }  
  
  }
  &> .section-title mark {
    background: $black-color;
    color: $white-color;
  }
  
}

.future__text{
  &>.bullet-list {
    padding-left: rem(40);
    padding-right: rem(35);
    @include for-size(tablet){
      padding-left: rem(30);
      padding-right: 0; 
    } 
  }
  &>.bullet-list .bullet-list__item {
    position: relative;
    &::before {
      @include pseudo(rem(5), rem(5));
      position: absolute;
      left: rem(-18);
      top: rem(5);
    background-color: $black-color;
    @include for-size(tablet){
      @include pseudo(rem(8), rem(8));
      top: rem(1);
      left: rem(-30);
    } 
    }
    
  }
  &>.bullet-list .bullet-list__title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: rem(13.5);
    margin-bottom: rem(12);
    @include for-size(tablet){
      font-size: rem(9);
      margin-bottom: rem(7);
    } 
  }
  &>.bullet-list .bullet-list__description {
    font-size: rem(13.5);
    @include for-size(tablet){
      font-size: rem(8);
      line-height: rem(11);
    } 
  }  
  &> .bullet-list .bullet-list__item:nth-child(-n+3) {    
    margin-bottom: rem(26);
    @include for-size(tablet){
      margin-bottom: rem(16);
    }
    @include for-size(desktop){
      margin-bottom: rem(24);
    }
  }  
}

.future__text {
  &> .bullet-list .bullet-list__item:nth-child(1) {    
    @include for-size(tablet){
      width: 170px;
    } 
  }
  &> .bullet-list .bullet-list__item:nth-child(2) {
    @include for-size(tablet){
      width: 220px;
    } 
  }
  &> .bullet-list .bullet-list__item:nth-child(3) {
    @include for-size(tablet){
      width: 235px;
    } 
  }
  &> .bullet-list .bullet-list__item:nth-child(4) {
    @include for-size(tablet){
      width: 230px;
    } 
  }
}