.section-five-wrp {
  @include for-size(tablet) {
    display: flex;
  }
}

.section-five {
  padding-bottom: rem(56);
  @include for-size(tablet) {
    padding-bottom: rem(94);
  }

  &-title {
    margin: 0 auto;
    max-width: rem(200);
    margin-bottom: rem(40);
    text-transform: uppercase;

    @include for-size(tablet) {
      line-height: rem(33.65);
    }

    @include for-size(desktop) {
      line-height: rem(37.5);
    }
  }

  &-description {
    max-width: rem(472);
    margin: 0 auto;
    margin-bottom: rem(40);
    @include for-size(tablet) {
      width: rem(126);
      line-height: 1.5;
    }

    @include for-size(desktop) {
      width: rem(124);
      line-height: 1.5;
    }
  }
}

.slider {
  position: relative;
  padding: rem(20) rem(12) rem(20) rem(20);
  height: rem(213);
  width: rem(294);
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: rem(0) rem(8) rem(14) rem(0) rgba(0, 0, 0, 0.15);

  @include for-size(tablet) {
    width: rem(422);
    height: rem(305);
    box-shadow: rem(0) rem(11) rem(22) rem(0) rgba(0, 0, 0, 0.15);
    padding: rem(30) rem(12) rem(30) rem(30);
  }

  @include for-size(desktop) {
    width: rem(470);
    height: rem(340);
    box-shadow: rem(0) rem(14) rem(27) rem(0) rgba(0, 0, 0, 0.15);
  }

  &__item {
    display: flex;
  }

  &__item-text {
    font-size: rem(12);
  }

  & .slick-arrow {
    position: absolute;
    bottom: rem(-16);

    font-size: 0;
    background-color: $black-color;
    width: rem(15);
    height: rem(15);
    border: none;

    @include for-size(tablet) {
      width: rem(21);
      height: rem(21);
      bottom: rem(-22);
    }

    @include for-size(desktop) {
      width: rem(24);
      height: rem(24);
      bottom: rem(-25);
    }
  }

  & .slick-arrow.slick-prev,
  & .slick-arrow.slick-next {
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  & .slick-arrow.slick-prev {
    background-image: url('../images/5/slider/angle-left.svg');
    right: rem(16);

    @include for-size(tablet) {
      right: rem(22);
    }

    @include for-size(desktop) {
      right: rem(25);
    }
  }

  & .slick-arrow.slick-next {
    background-image: url('../images/5/slider/angle-right.svg');
    right: rem(0);
  }

  & .slick-dots {
    display: flex;
    position: absolute;
    bottom: rem(-16);
    font-weight: 800;

    @include for-size(tablet) {
      bottom: rem(-22);
    }

    @include for-size(desktop) {
      bottom: rem(-25);
    }
  }

  & .slick-dots li {
    position: relative;
    font-size: rem(10);
  }

  & .slick-dots li.slick-active {
    transform: scale(1.2);

    &::before {
      content: '';
      display: inline-block;
      height: rem(2);
      width: 130%;
      background-color: $black-color;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  & .slick-dots li:hover {
    transform: scale(1.2);
    transition: all 0.2s linear;
  }

  & .slick-dots li:not(:last-child) {
    margin-right: rem(10);
  }

  & .slick-dots li button::before {
    content: '0';
  }

  & .slick-dots li button {
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 800;
    font-size: rem(10);
    cursor: pointer;
  }

  & .slick-track {
    display: flex;
  }

  & .slick-list {
    overflow: hidden;
  }
}

.slider__item-img-wrp {
  margin-right: rem(20);

  @include for-size(tablet) {
    width: rem(76);
  }

  @include for-size(desktop) {
    width: rem(94);
  }
}

.slider__item-img {
  margin-bottom: rem(10);
}

.slider__item-name {
  width: rem(55);
  font-size: rem(6);
  line-height: 1.7;
  text-transform: uppercase;

  @include for-size(tablet) {
    font-size: rem(8);
    width: rem(76);
  }

  @include for-size(tablet) {
    font-size: rem(9);
    width: rem(94);
  }
}

.slider__item-text-wrp {
  height: rem(175);
  overflow: auto;

  @include for-size(tablet) {
    height: rem(248);
  }

  @include for-size(desktop) {
    height: rem(286);
  }
}
