.section-six {
  padding-top: rem(34);
  padding-bottom: rem(40);
  @include for-size(tablet){
    padding-top: rem(56);
  }  
}

.substrate-text {
  text-transform: uppercase;
  font-weight: 800;
  writing-mode: vertical-rl;
  font-size: rem(140);
  opacity: .06;
  position: absolute;
  letter-spacing: rem(-10);
  z-index: -1;
  top: -15px;
  right: -70px;
    @include for-size(desktop){
      font-size: rem(156);
    }
}

.warning {
  @include for-size(tablet){
    @include flexible(space-between);
  }  
  &__image {
    display: none;
    position: relative;
    @include for-size(tablet){
      display: block;
    }    
  }
  &-description {
    font-size: rem(13.5);
    line-height: rem(19.5);
    margin-bottom: rem(46);
    @include for-size(tablet){
      width: 170px;
      font-size: rem(9);
      line-height: rem(12);
      margin-bottom: 0;
    }
    @include for-size(desktop){
      font-size: rem(8.75);
    }
  }  
}

.warning__text{
  @include for-size(tablet){
    width: 310px;
  }
  @include for-size(desktop){
    width: 350px;
  } 
  &>.section-title {
    width: 200px;
    text-transform: uppercase;
    text-align: left;    
    margin-right: auto;
    margin-left: auto;
    margin-bottom: rem(18);
    @include for-size(tablet){
      width: 300px;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: rem(10); 
      line-height: rem(36);
    } 
    @include for-size(desktop){
      width: 350px;
    }    
  }
  &>.section-description {
    width: 270px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: rem(40);
    padding-left: rem(35);
    font-size: rem(13.5);
    &::before {
      left:rem(2);
      width: rem(21);
      @include for-size(tablet){
        width: rem(29);
        height: rem(4);
      } 
    }
    @include for-size(tablet){
      margin-left: 0;
      padding-left: rem(50);
      width: 200px;
      font-size: rem(9);
      line-height: rem(13);
    }   
  }
  &> .bullet-list .bullet-list__item:nth-child(-n+4) {
    margin-bottom: rem(26);
    @include for-size(tablet){
      margin-bottom: rem(16);
    }
    @include for-size(desktop){
      margin-bottom: rem(24);
    }
  }
}

.section-title-br {
  display: block;
}

.warning__text {
  &> .bullet-list {
    padding: 0;
    margin: auto;
    width: 337px;
    padding-left: rem(27);
    @include for-size(tablet){
      padding-left: rem(30);
      padding-right: 0;
      margin-left: 0;
      width: 250px;
    } 
    @include for-size(desktop){
      width: 290px;
    } 
  }  
  &> .bullet-list .bullet-list__item {
    position: relative;
    &::before {
      @include pseudo(rem(7), rem(7));
      position: absolute;
      left: rem(-25);
      top: rem(5);
    background-color: $black-color;
    @include for-size(tablet){
      @include pseudo(rem(8), rem(8));
      top: rem(1);
      left: rem(-30);
    } 
    }
  }  
  &> .bullet-list .bullet-list__title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: rem(13);
    margin-bottom: rem(6);
    @include for-size(tablet){
      font-size: rem(9);
      margin-bottom: 4px;
    } 
  }
  &> .bullet-list .bullet-list__description {
    font-size: rem(13);
    @include for-size(tablet){
      font-size: rem(8);
      line-height: rem(11);      
    } 
  }
}

.warning__text>.bullet-list {
  & .bullet-list__item:nth-child(1) {
    @include for-size(tablet){
      width: 215px;
    } 
    @include for-size(desktop){
      width: 240px;
    } 
  }
  & .bullet-list__item:nth-child(2) {
    @include for-size(tablet){
      width: 205px;
    } 
    @include for-size(desktop){
      width: 230px;
    } 
  }
  & .bullet-list__item:nth-child(3) {
    @include for-size(tablet){
      width: 200px;
    } 
    @include for-size(desktop){
      width: 220px;
    } 
  }
  & .bullet-list__item:nth-child(4) {
    @include for-size(tablet){
      width: 217px;
    } 
    @include for-size(desktop){
      width: 190px;
    } 
  }
  & .bullet-list__item:nth-child(5) {
    @include for-size(tablet){
      width: 190px;
    } 
    @include for-size(desktop){
      width: 210px;
    } 
  }
}
