* {
  outline: 1px solid blue;
}

.black-bg-separate-words {
  background-color: $black-color;
  color: #ffffff;
}

.section-seven {
  @include for-size(tablet) {
    padding-bottom: rem(100);
  }

  @include for-size(desktop) {
    padding-bottom: rem(115);
  }
}

.section-seven-wrp {
  @include for-size(tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: rem(215) rem(156) rem(104);
    align-items: start;
  }

  @include for-size(desktop) {
    grid-template-rows: rem(224) rem(140) rem(146);
  }
}

.title-wrp {
  margin: 0 auto;
  margin-bottom: rem(34);
  max-width: rem(344);

  @include for-size(tablet) {
    grid-column: 1/1;
    grid-row: 1/1;
    margin: 0 auto;
  }
}

.section-seven-title {
  max-width: rem(214);
  margin-bottom: rem(16);

  @include for-size(desktop) {
    max-width: rem(251);
  }
}

.section-seven-description {
  @include for-size(tablet) {
    max-width: rem(140);
    margin: 0 auto;
    line-height: rem(13.46);
  }

  @include for-size(desktop) {
    font-size: 0.6rem;
    max-width: rem(177);
    line-height: rem(15);
  }
}

.section-seven__img {
  margin: 0 auto;
  margin-bottom: rem(16);
  @include for-size(tablet) {
    margin: 0;
    margin-left: auto;
    grid-column: 2/2;
    grid-row: 1/1;
  }

  &-wrp {
    margin-bottom: rem(16);
    @include for-size(tablet) {
      grid-column: 1/1;
      grid-row: 2/3;
      padding-top: rem(34);
    }
  }
}

.first-content-wrp {
  @include for-size(tablet) {
    grid-column: 2/2;
    grid-row: 2/2;
  }
}

.second-content-wrp {
  @include for-size(tablet) {
    grid-column: 2/2;
    grid-row: 3/3;
  }
}

.content-wrp {
  max-width: rem(402);
  margin: 0 auto;
  margin-bottom: rem(36);

  @include for-size(tablet) {
    margin: 0;

    display: flex;
    max-width: rem(308);

    align-items: flex-start;
    margin-left: auto;
  }

  @include for-size(desktop) {
    max-width: rem(336);
  }

  &__title {
    margin-bottom: rem(16);
    text-transform: uppercase;
    width: rem(250);
    display: inline-block;
    font-size: rem(13.5);
    line-height: rem(19.5);
    @include for-size(tablet) {
      font-size: rem(8.97);
      line-height: rem(14.58);
      margin-right: rem(36);
      max-width: rem(106);
    }

    @include for-size(desktop) {
      font-size: rem(10);
      line-height: rem(16.25);
      margin-right: rem(28);
      max-width: rem(120);
    }
  }
}

.black-bg-block {
  display: inline-block;
}

.content-box {
  @include for-size(tablet) {
    max-width: rem(178);
  }

  @include for-size(desktop) {
    max-width: rem(186);
  }

  &__description {
    font-size: rem(14);
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: rem(10);
    @include for-size(tablet) {
      font-size: rem(9);
    }

    @include for-size(desktop) {
      font-size: rem(10);
      line-height: rem(15);
    }
  }

  &__text {
    font-size: rem(14);
    line-height: 1.4;
    @include for-size(tablet) {
      font-size: rem(7.85);
      line-height: rem(11.78);
    }

    @include for-size(desktop) {
      font-size: rem(8.75);
      line-height: rem(13.13);
    }
  }
}
