.career {
  padding-top: 20px;
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
  }
}

.career__image {
  @include flexible(center);
  margin-bottom: 20px;
  @include for-size(tablet) {
    flex: 0 0 48%;
    margin-bottom: 35px;
    padding-right: 38px;
    order: 1;
    display: block;
  }
}

.career__title {
  padding: 0 70px 0 70px;
  margin: auto;
  @include for-size(tablet) {
    flex: 0 0 48%;
    padding: 0;
    margin: 0;
    order: 2;
  }
  @include for-size(desktop) {
    width: 348px;
  }
  & > .section-title {
    text-transform: uppercase;
    font-size: rem(18);
    margin-bottom: rem(10);
    @include for-size(tablet) {
      font-size: rem(24);
      margin: rem(15) 0 rem(25) 0;
    }
    @include for-size(desktop) {
      margin-top: rem(25);
      font-size: rem(30);
    }
  }
  & > .section-description {
    padding-left: rem(40);
    font-size: rem(13.5);
    margin-bottom: rem(25);
    @include for-size(tablet) {
      font-size: rem(9);
      width: 235px;
      padding-left: rem(47);
      margin-bottom: rem(40);
      line-height: 12px;
    }
    @include for-size(desktop) {
      font-size: rem(10);
      width: 250px;
    }
    &::before {
      left: rem(2);
      width: rem(21);
      @include for-size(tablet) {
        width: rem(29);
        height: rem(4);
        top: 3px;
      }
    }
  }
}

.career__member {
  margin-bottom: rem(20);
  @include for-size(tablet) {
    flex: 0 0 48%;
    margin-bottom: 0;
    order: 4;
    position: relative;
    top: -65px;
  }
}

.career__description {
  @include for-size(tablet) {
    flex: 0 0 48%;
    order: 3;
  }
  & > .bullet-list {
    padding: 0;
    width: 305px;
    font-size: rem(13.5);
    margin: auto;
    @include for-size(tablet) {
      margin: 0;
      width: 196px;
    }
  }
  & > .bullet-list .bullet-list__title {
    text-transform: uppercase;
    margin-bottom: 14px;
    padding-left: 24px;
    @include for-size(tablet) {
      font-size: 10px;
      padding: 0;
      margin-bottom: 14px;
    }
  }
  & > .bullet-list .bullet-list__description {
    @include for-size(tablet) {
      font-size: rem(8);
    }
    @include for-size(desktop) {
      font-size: rem(8.75);
    }
  }
  & > .bullet-list .bullet-list__item {
    position: relative;
    &::before {
      @include pseudo(rem(7), rem(7));
      position: absolute;
      background-color: $black-color;
      left: rem(0);
      top: rem(5);
      @include for-size(tablet) {
        top: -23px;
      }
    }
  }
  & > .bullet-list .bullet-list__item {
    @include for-size(desktop) {
      width: 220px;
    }
  }
}

.career__member picture {
  @include for-size(tablet) {
    // max-width: 50%;
    flex: 0 0 50%;
    height: auto;
    position: relative;
  }
}

.career__image picture {
  @include for-size(tablet) {
    // max-width: 50%;
    flex: 0 0 50%;
    height: auto;
    position: relative;
  }
}
